.swms-hr {
	border: 1px none #bab9b9;
	border-top-style: solid;
}

.swms-drawer {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	box-sizing: border-box;
	justify-content: flex-start;
}

.swms-link {
	color: $primary;
	text-decoration: none;
	cursor: pointer;
	&:hover { text-decoration: underline; }
}

.swms-narrow {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 700px;
}

.swms-tabs .q-tabs .q-tabs__content .q-tab__content {
	min-width: unset !important;
}

.swms-tabs.no-indicator .q-tabs .q-tab__indicator {
	display: none !important;
}

.swms-tabs.no-indicator {
	padding-top: 2px;
}
